<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aris.javaweb_vtd.mapper.ItemMapper">
    <insert id="insertItem" parameterType="com.aris.javaweb_vtd.entity.Item">
        INSERT INTO items (name, image, description, price, type, 
        <if test="status != null">status,</if> created_at, updated_at)
        VALUES
        (#{name}, #{image}, #{description}, #{price}, #{type}, 
        <if test="status != null">#{status},</if> #{createdAt}, #{updatedAt})
    </insert>
</mapper>