<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aris.javaweb_vtd.mapper.OrderMapper">
    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO orders 
        (total_price
        ,status
        ,customer_id
        ,shipping_fee
        ,created_at
        ,updated_at)
        VALUES 
        (#{totalPrice}
        ,#{status}
        ,#{customerId}
        ,#{shippingFee}
        ,#{createdAt}
        ,#{updatedAt})
    </insert>

    <select id="getOrdersByFilters" parameterType="map" resultType="com.aris.javaweb_vtd.dto.order.response.OrderSummaryDTO">
      SELECT
        o.id AS id
        ,o.status AS status
        ,o.total_price AS totalPrice
        ,o.created_at AS createAt

        ,i.id AS itemId
        ,i.name AS itemName
        ,i.description AS itemDescription
        ,i.image AS itemImage
        ,i.type AS itemType
        ,od.quantity
        ,od.price
        
        ,(SELECT SUM(od2.quantity)
          FROM order_details od2
          WHERE od2.order_id = o.id) AS totalItems
      FROM orders o
      JOIN (
        SELECT 
          od.*
        FROM order_details od
        JOIN (
          SELECT order_id, MIN(id) AS min_id
          FROM order_details
          GROUP BY order_id
        ) AS min_od ON od.id = min_od.min_id
      ) od ON od.order_id = o.id  
      LEFT JOIN items i ON od.item_id = i.id

      <where>
        <if test="statusList != null and statusList.size > 0">
          o.status IN
          <foreach collection="statusList" item="status" open="(" separator="," close=")">
            #{status}
          </foreach>
        </if>

        <if test="fromDate != null">
          AND o.created_at &gt;= #{fromDate}
        </if>
        <if test="toDate != null">
          AND o.created_at &lt;= #{toDate}
        </if>
      </where>

      ORDER BY o.id DESC
    </select>

    <!-- Map field belongs to OrderDetail - Item object -->
    <resultMap id="OrderItemMap" type="com.aris.javaweb_vtd.dto.order.response.OrderItemResponseDTO">
      <id property="id" column="item_id" />
      <result property="name" column="item_name"/>
      <result property="description" column="item_description"/>
      <result property="img" column="item_image"/>
      <result property="type" column="item_type"/>
      <result property="price" column="order_detail_price"/>
      <result property="quantity" column="order_detail_quantity"/>
    </resultMap>

    <!-- Map field belongs to Customer object -->
    <resultMap id="CustomerMap" type="com.aris.javaweb_vtd.dto.order.response.CustomerResponseDTO">
      <id property="id" column="customer_id"/>
      <result property="fullName" column="full_name"/>
      <result property="phone" column="phone"/>
      <result property="city" column="city"/>
      <result property="ward" column="ward"/>
      <result property="address" column="address"/>
      <result property="message" column="message"/>
    </resultMap>

    <!-- Map field belongs to Order object -->
    <resultMap id="OrderResponseMap" type="com.aris.javaweb_vtd.dto.order.response.OrderResponseDTO">
      <id property="id" column="order_id"/>
      <result property="status" column="status"/>
      <result property="shippingFee" column="shipping_fee"/>
      <result property="totalPrice" column="total_price"/>
      <result property="createAt" column="created_at"/>
      <result property="totalItems" column="total_items"/>
      <result property="subTotal" column="sub_total"/>
      <association property="customer" javaType="com.aris.javaweb_vtd.dto.order.response.CustomerResponseDTO" resultMap="CustomerMap"/>
      <collection property="items" ofType="com.aris.javaweb_vtd.dto.order.response.OrderItemResponseDTO" resultMap="OrderItemMap"/>
    </resultMap>

    <select id="getOrderById" resultMap="OrderResponseMap">
      SELECT
        o.id AS order_id
        ,o.status
        ,o.total_price
        ,o.shipping_fee
        ,o.created_at

        ,c.id AS customer_id
        ,c.full_name
        ,c.phone
        ,c.city
        ,c.ward
        ,c.address
        ,c.message

        ,od.quantity AS order_detail_quantity
        ,od.price AS order_detail_price
        
        ,i.id AS item_id
        ,i.name AS item_name
        ,i.description AS item_description
        ,i.image AS item_image
        ,i.type AS item_type

      FROM orders o
      JOIN customers c ON o.customer_id = c.id
      LEFT JOIN order_details od ON od.order_id = o.id
      LEFT JOIN items i ON od.item_id = i.id

      WHERE o.id = #{id}
      ORDER BY o.id DESC
    </select>

    <update id="updateOrderStatus">
      UPDATE orders
      SET status = #{newStatus}
      WHERE id = #{orderId}
    </update>
</mapper>